body {
    background-color: grey;
    margin: 0;
    height: 1240px;
    width: 0 auto;
}

.header {
    width: 0 auto;
    height: 150px;
    top: 0;
    background-color: white;
}

.nameContainer {
    float: left;
    height: 75px;
    width: 200px;
    background-color: #4aaaa5;
    margin-left: 200px;
    margin-top: 75px;
    line-height: 75px;
    color: white;
    text-align: center;
    font-size: 40px;
}

nav {
    float: right;
    margin-right: 100px;
}

.aboutContainer {
    float: left;
    margin-right: 30px;
    line-height: 250px;
}

.portfolioContainer {
    float: left;
    margin-right: 30px;
    line-height: 250px;
}

.contactContainer {
    float: left;
    margin-right: 30px;
    line-height: 250px;
}

.bodyContainer {
    margin-left: 200px;
    background: white;
    margin-top: 20px;
    margin-right: 30px;
    height: 700px;
    width: 80%;
}

.aboutMe {
    display: block;
    margin-left: 10px;
    margin-top: -50px;
    margin-right: 10px;
    padding-right: 85%;
    padding-bottom: 10px;
    float: left;
    font-size: 30px;
    box-sizing: border-box;
    border-bottom: 3px solid green;
}

#myFace {
    margin-left: 10px;
    margin-top: 10px;
    display: inline;
}

.paragraphOne {
    float: left;
    display: inline;
    margin-left: 217px;
    margin-top: -202px;
    margin-right: 10px;
}

.paragraphTwo {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.paragraphThree {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.paragraphFour {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}